<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- SAML parameters -->
        <add key="AppliesToAddress" value="http://authenticate.com" />
        <add key="TokenIssuerName" value="https://sts.windows.net/c2010all-9619-402f-8b72-17828c5f9aed/" />
        <add key="CertificateFilePath" value="self-signed-authenticate.pfx" />
        <add key="CertificateFilePassword" value="" />
    </appSettings>
</configuration>