[*.cs]

# CA1014: Mark assemblies with CLSCompliantAttribute
dotnet_diagnostic.CA1014.severity = silent

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = silent

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = silent

# CA1054: URI parameters should not be strings
dotnet_diagnostic.CA1054.severity = silent

# CA1055: URI return values should not be strings
dotnet_diagnostic.CA1055.severity = silent