<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!-- nlog parameters -->
	<variable name="Folder" value="C:/temp/sso" />
	<targets>
		<target name="ActivityFile" xsi:type="File"
                layout="${longdate} ${level:upperCase=true}: ${message}"
                fileName="${Folder}/Activity.${shortdate}.log"
                autoFlush="true"
                keepFileOpen="false"
                encoding="iso-8859-2" />
		<target name="EventsFile" xsi:type="File"
                layout="${longdate} ${level:upperCase=true}: ${message}"
                fileName="${Folder}/Events.${shortdate}.log"
                autoFlush="true"
                keepFileOpen="false"
                encoding="iso-8859-2" />
	</targets>
	<rules>
		<logger name="Activity" minlevel="Info"
                writeTo="ActivityFile" />
		<logger name="Events" minlevel="Info"
                writeTo="EventsFile" />
	</rules>
</nlog>